* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("ap.png") no-repeat center/cover;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
}

nav {
  background: linear-gradient(
    45deg,
    rgb(187, 117, 11) 50%,
    rgb(150, 115, 15) 50%
  );
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  margin-left: 30px;
  font-size: 30px;
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

aside {
  width: 20%;
  text-align: center;
  padding-left: 60px;
}

#circle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: url("id.jpg") no-repeat center/cover;
  margin-left: 50px;
  margin-top: 40px;
}

.ident img {
  max-width: 50%;
}

main {
  width: 100%;

  align-items: center;
  margin-right: 200px;
}

.entour {
  margin-top: 15px;
  padding: 10px;
  border: solid 1px grey;
  border-radius: 10px;
  font-weight: bold;
}

.intro {
  margin-top: 50px;
  padding: 20px;
  border: solid 1px grey;
  border-radius: 10px;
  background-color: moccasin;
  font-weight: bold;
}

.xp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}

.contenair1 {
  margin-top: 40px;
  margin-left: 100px;
  border: solid 1px grey;
  border-radius: 20px;
  padding: 20px;
}

.contenair2 {
  margin-top: 40px;
  width: 100%;
  padding-top: 20px;
  border: solid grey 1px;
  margin-left: 100px;
  border-radius: 20px;
  padding: 20px;
}

h2 {
  color: rgb(26, 6, 3);
}

p {
  color: black;
  font-size: 13px;
}

h4 {
  font-size: 16px;
  color: blue;
  font-weight: bold;
}
.titre {
  margin-left: 180px;
  background-color: indianred;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 20px;
}

#centrage {
  margin-top: 5px;
}

@media screen and (max-width: 450px) {
  body {
    font-family: "Montserrat", sans-serif;
    background: url("/asset/Sans\ titre\ \(1\).png") no-repeat center/cover;
  }

  nav {
    height: 80px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  section {
    background: url("/asset/Sans\ titre\ \(1\).png") no-repeat center/cover;
    display: flex;
    flex-direction: column;
  }

  nav a {
    margin-left: 15px;
    text-decoration: none;
    font-size: 16px;
    color: black;
  }

  .intro {
    width: 250px;
    height: 160px;
    margin-top: 20px;
    padding: 20px;
    border: solid 1px grey;
    border-radius: 10px;
    background-color: moccasin;
  }
  .intro h2 {
    font-size: 20px;
  }

  #circle {
    margin-left: 30px;
    margin-top: 40px;
  }

  .entour {
    width: 250px;
    height: 270px;
    margin-top: 10px;
    padding: 10px;
    border: solid 1px grey;
    border-radius: 10px;
    font-weight: bold;
  }

  main {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  nav a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: black;
  }

  .xp {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .contenair1 p {
    display: none;
  }
  .contenair2 p {
    display: none;
  }

  section {
    display: block;
  }
  aside {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .entour {
    width: 500px;
    height: 300px;
    margin-top: 20px;
    margin-left: 90px;
    padding: 50px;
    border: solid 1px grey;
    border-radius: 10px;
    font-weight: bold;
  }

  .titre {
    margin-right: 160px;
    background-color: indianred;
    margin-top: 10px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 20px;
  }
  .titre h2 {
    font-size: 15px;
  }

  #circle {
    margin-left: 55px;
    margin-top: 10px;
  }
}

.intro {
  width: 250px;
  height: 100px;
  margin-top: 20px;
  padding: 10px;
  border: solid 1px grey;
  border-radius: 10px;
  background-color: moccasin;
}
.intro h2 {
  font-size: 20px;
}
